<!DOCTYPE html>
<html lang="en">
<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link rel="shortcut icon" type="image/svg+xml" href="{{url_for('static', filename='favicon.svg')}}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
<span class="sr-only">toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="upbox">upbox service</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
</div>
</div>
</nav>
<div class="jumbotron">
<div class="container">
<br />
{% if not message %}
<div class="row">
<div class="col-md-offset-5 col-md-3">
<h4>Enter input text to process:</h4>
<form method="post" class="navbar-form navbar-right" action="">
<div class="form-group">
<input type="text" id="text_input" name="text_input" class="form-control input-lg chat-input" placeholder="text input" /><br><br>
<input type="text" id="comment" name="comment" class="form-control input-lg chat-input" placeholder="comment (optional)" /><br><br>
<button type="submit" class="btn btn-lg btn-info">submit</button>
</div>
</form>
</div>
</div>
{% elif message %}
<div class="row">
<div class="col-md-offset-5 col-md-3">
<h4>{{message}}</h4>
</div>
</div>
{% endif %}
</div>
</div>
<footer>
<a class="navbar-brand" href="https://www.github.com/wdbm/upbox">upbox</a>
</footer>
</div>
</body>
</html>
